
.footer{
    padding: 60px 150px;
}

.footer_wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 2.5rem;
}

.footer_logo{
    width: 40%;
}

.footer_quick-links{
    width: 20%;
}

.footer_logo h2{
    color: var(--primary-color);
}

.small_text{
    font-size: 1rem;
    margin-top: 30px;
}

.quick_links-title{
    font-size: 1.1rem;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 30px;
}

.quick_links{
    list-style: none;
}

.quick_links-item{
    margin-bottom: 30px;
}

.quick_links-item a{
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
}

.quick_links-item a:hover{
    color: var(--primary-color);
}

.decription{
    color: whitesmoke;
}

.copyright{
    color: rgb(105, 105, 105);
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.light-theme .quick_links-item a{
    font-weight: 500;
}

.light-theme .copyright{
    color: rgb(81, 80, 80);
}

@media only screen and (max-width:768px) {
    .footer_logo{
        width: 70%;
    }

    .footer_wrapper{
        flex-wrap: wrap;
        column-gap: 1.4rem !important;
        row-gap: 1rem;
    }

    .footer_quick-links {
        margin-bottom: 30px;
    }

    @media only screen and (max-width:700px){
        .footer_quick-links{
            width: 45%;
        }

        .footer_logo{
            width: 100%;
        }

        .footer_logo h2 {
            font-size: 1.5rem;
        }

        .footer_logo p {
            font-size: 1rem;
        }

        .footer{
            padding: 60px 10px;
        }
    }
}

